{% extends "base.html" %}
{% block title %}Update Injury{% endblock %}

{% block content %}
<div class="container">
  <div class="card shadow-sm p-4">
    <h2 class="mb-4">Update Injury</h2>

    <form method="post">
      <div class="mb-3">
        <label class="form-label">Player</label>
        <select name="player_id" class="form-select" required>
          {% for p in players %}
            <option value="{{ p.player_id }}">{{ p.cap_number }} - {{ p.first_name }} {{ p.last_name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label">Injury Date</label>
        <input type="date" name="injurydate" class="form-control" required>
      </div>

      <div class="mb-3">
        <label class="form-label">Injury Match</label>
        <input type="text" name="injurymatch" class="form-control">
      </div>

      <div class="mb-3">
        <label class="form-label">Injury Type</label>
        <input type="text" name="injurytype" class="form-control">
      </div>

      <div class="mb-3">
        <label class="form-label">Recovery Time</label>
        <input type="text" name="recovery_time" class="form-control">
      </div>

      <button type="submit" class="btn btn-primary w-100">Save Injury Info</button>
    </form>
  </div>
</div>
{% endblock %}
